*{margin:0;
padding:0;}

body{font-family: 'Roboto', sans-serif;}

/*header section*/

.hlogo-menu{padding:10px 100px;}

.head{background-color:rgb(31, 97, 141);}

.hlogo{width:14%;}

.navbar a{color:white!important;
	font-size:16px!important;
	padding-right:25px!important;}

.dropdown-menu{background-color:rgb(31, 97, 141)!important;}

.dropdown-menu a{color:yellow!important;}

/*banner section*/

.banner h5{font-size:50px;}

.banner button{margin-bottom:1rem;}

button:hover{background-color:red; color:white;}

button{border-radius:20px;
	border:none;}

button a{padding:8px 20px;
	font-size:20px;}

/*offer section*/

.offer-section{padding:100px 0;}

.offer-section .title p{width:50%;
	margin:10px auto;
	font-size:17px;}

.title{padding-bottom:50px;
	overflow:hidden;}

.border{width:100px;
	margin:20px auto;}

.srvice-item{border:1px solid #eee;
	padding:30px 30px;
	border-radius:10px;}

.srvice-item:hover{box-shadow:0 5px 65px 0 rgba(0, 0, 0, 0.15);}

.srvice-item i{font-size:35px;
	background-color:#28ABE3;
	padding:8PX 10PX;
	border-radius:30px;
	color:white;}

.srvice-item i:hover{background-color:white;
	color:#28ABE3;}

.srvice-item h4{margin:15px 0;}

/*agency*/

.agency{background-color:#F7F7F7;
	padding:100px 0;}


.agency img{width: 100%!important;}

.agency .title p{width:50%;
	margin:20px auto;
	font-size:17px;}

.agency-list button{padding:8px 20px;
	margin-left:30px;
	background-color:#28ABE3;
	border:none;}

.agency-list button:hover{background-color:red;}

/*contact us*/

.contact-section{background-repeat:no-repeat;
	background-size:cover;
	background-position:center;}

.contact-text{padding:100px 0;
	color:white;}

.contact-text h2{font-size:2rem;
	margin-bottom:10px;}

.contact-text p{margin:10px auto;
	width: 50%;}

.contact-text button{background-color:#28ABE3;
	padding:5px 10px;
	border:none;}

.contact-text button:hover{background-color:red;}

/*smart-counter*/

.smart-counter{padding:70px 0;}

.smart-counter .title p{margin:20px auto;
	width:50%;}

.smart-counter i{font-size:35px;
	color:#28ABE3;}

.smart-counter h1{margin:5px 0;}

.smart-counter h5{font-size:18px;}


.counter-item:before{
	    background:#e5e5e5;
    content: "";
    height: 55px;
    width: 1px;
    position: absolute;
    right: -15px;
    top: 20%;
}





/*testimonial section*/

.testimonial{width:100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;}

.testimonial img{border-radius:70px;
width:150px;
height:160px;}


/*blog section*/

.blog-section{background-color:#F6F6F6;
	padding-top:70px;
	padding-bottom:100px;}

.blog-section p{width:50%;
	margin:0 auto;}

.blog-section img{width:100%;}


.card-body p{width:100%;
	padding:20px 0;}

.card-body a{border-radius:50px;
	padding:10px 25px;
	background-color:#28ABE3;}

.card-body a:hover{background-color:red;}





.my-manual{}

.my-manual img{border-radius:10px 10px 0 0;}

.blog-manual{background-color:#fff;
	border-radius:0 0 10px 10px;
	padding:30px 20px;
	border:1px solid #2c2c2c;}

.blog-manual h4{}

.blog-manual p{width:100%;
	padding:30px 0;}

.blog-manual a{border-radius:50px;
	padding:10px 25px;
	background-color:#28ABE3;
	color:white;
	text-decoration:none;}

.blog-manual a:hover{background-color:red;}



/*footer section*/


.footer-top{background-color:#222222;
	padding:80px 0;}

.footer-top h3{font-size:16px;
	color:#fff;
    margin-bottom: 20px;}

.footer-top p{font-size:13px;
	color:#bdbdbd;
	line-height:30px;}

.footer-top a{color:#bdbdbd;
	text-decoration:none;
	font-size:13px;
	line-height:30px;}

.footer-top a:hover{color:skyblue;}

.footer-bottom{background-color:#1b1b1b;
	color:#888888;;
	padding:30px 0;
	border-top:1px solid #2c2c2c;}

.footer-bottom h5{font-size:13px;}

.footer-bottom h6{font-size:11px;}

.footer-bottom a{text-decoration:none;}



